<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AllTests">
    <test name="All">
                <groups>
                    <run>
                        <include name="unit"/>
                    </run>
                </groups>
        <classes >
            <class name="com.Swp_391_gr7.smoking_cessation_support_platform_backend.SmokingCessationSupportPlatformBackendApplicationTest"/>
            <class name="com.Swp_391_gr7.smoking_cessation_support_platform_backend.services.jwt.JWTServiceTest"/>
        </classes>
    </test>
    <test name="Test2">
        <classes>
            <class name="com.Swp_391_gr7.smoking_cessation_support_platform_backend.services.survey.SmokeSurveyServiceTest"/>
        </classes>
    </test>
</suite>
